/* ---------- *\
	FORM
\* ---------- */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	@include border-radius(2px);
	background-color:$white;
	border:none;
	border:1px solid $greylt;
	box-sizing: border-box;
	color:$greydk;
	display:block;
	font-size:1rem;
	height:2.6rem;
	margin:.5rem 0;
	padding:.5rem;
	width:100%;

	&:active,
	&:focus {
		color:$black;
		border-color:$link;
		outline:none;
	}

}//form elements


//SUCCESS!
.success {
	label {
		color:$success;
	}//label

	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		border-color:$success;
		color:$success;
		font-weight:bold;

		&:active,
		&:focus {
			border-color:$success;
			color:$success;
		}
	}//form elements
}//error

//ERROR!
.error {
	label {
		color:$danger;
	}//label

	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		border-color:$danger;
		color:$danger;
		font-weight:bold;

		&:active,
		&:focus {
			border-color:$danger;
			color:$danger;
		}
	}//form elements
}//error

//hack for FF
button::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin-top:-2px;
	margin-bottom: -2px;
}

textarea {
	height:auto;
}


form {
	.form-group {
		margin-bottom:2rem;

		label {
			font-size:1rem;
			font-weight:bold;

			//Thnis is the "requidanger" asterisk
			strong {
				color:$danger;
			}
		}//label

	}//form-group


	.check-radio {
		label {
			font-weight:normal;
			padding-left:1.2rem;
			position:relative;

			input[type=checkbox],
			input[type=radio] {
				position:absolute;
				top:.2rem;
				left:0;

			}//iput
		}//label
	}//check-radio
}//form

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	@include border-radius(4px);
	@include transition(all .3s);
  border: 1px solid $greydk;
  cursor: pointer;
  display: inline-block;
	font-size:.8rem;
	font-weight:700;
  height: 2.4rem;
  line-height: 2.4rem;
  padding: 0 1.2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}//buttons




/* ---------- *\
	BUTTONS
\* ---------- */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
		background-color: $white;
    border-color: $link;
		color:$link;

	&:hover {
		background-color: $link;
    border-color: $link;
		color:$white;
	}

	&.primary {
		background-color: $primary;
    border-color: $primary;
		color:$white;

		&:hover {
			background-color:darken( $primary, 15% );
		}//hover
	}//primary

	&.info {
		background-color: $info;
    border-color: $info;
		color:$white;

		&:hover {
			background-color:darken( $info, 10% );
		}//hover
	}//info

	&.success {
		background-color: $success;
    border-color: $success;
		color:$white;

		&:hover {
			background-color:darken( $success, 10% );
		}//hover
	}//success

	&.warning {
		background-color: $warning;
    border-color: $warning;
		color:$white;

		&:hover {
			background-color:darken( $warning, 10% );
		}//hover
	}//warning

	&.danger {
		background-color: $danger;
    border-color: $danger;
		color:$white;

		&:hover {
			background-color:darken( $danger, 10% );
		}//hover
	}//dnager

	&.yellow {
		background-color: $yellow;
		border-color: $yellow;
		color:$white;

		&:hover {
			background-color:darken( $yellow, 15% );
		}//hover
	}//warning


	&.purple {
		background-color: $purple;
		border-color: $purple;
		color:$white;

		&:hover {
			background-color:darken( $purple, 10% );
		}//hover
	}//warning

	&.pink {
		background-color: $pink;
		border-color: $pink;
		color:$white;

		&:hover {
			background-color:darken( $pink, 15% );
		}//hover
	}//warning

}//buttons
