/* ---------- *\
	HEAD
\* ---------- */
#head {
	border-bottom:1px solid $greylt;
  height:4rem;
  position:relative;

  @media (min-width: $screen-sm) {
    height:5rem;
  }//break

  .container {}//container
}//head




/* ---------- *\
	BRANDING
\* ---------- */
.branding {
  float:left;
  font-size:1rem;
  font-weight:bold;
	margin:0;

  @media (min-width: $screen-sm) {
    font-size:1.6rem;
  }//break

  a {
    @extend .clearfix;
    display:block;

    .logo {
			display:block;
			background-color:$primary;
      float:left;
      height:3rem;
      margin:.5rem;
			padding:0;
      width:auto;

      @media (min-width: $screen-sm) {
        height:4rem;
      }//break
    }//logo

    strong {
      display:block;
      float:left;
      line-height:4rem;

      @media (min-width: $screen-sm) {
        line-height:5rem;
      }//break
    }
  }//href
}//branding


/* ---------- *\
	NAVIGATION
\* ---------- */

.navigation {
  left:0;
  padding:1rem;
  position:absolute;
  top:100%;
  width:100%;
  z-index:1;

  @media (min-width: $screen-sm) {
    display:inline-block!important;
    float:right;
		margin-top:1.3rem;
    padding:0;
    position:relative;
		top:auto;
    width:auto;
  }//break

  .menu {
    //nested ul
    list-style-type:none;

    ul {
      display:none;
      list-style-type:none;
      margin:0;

			@media (min-width: $screen-sm) {
				left:0;
	      position:absolute;
	      top:100%;
				width:10rem;
		  }//break

      //nestednested ul
      ul {
        display:none;
        position:static;
      }//nestednested ul
    }//nested ul

    // LIs
    li {
      margin:0;
      position:relative;

      //nested ul
      li {
        float:none;

        //nested href
        a {
          font-size:1rem;
          line-height:2rem;
        }//nested href
      }

      @media (min-width: $screen-sm) {
        float:left;
      }//break

      a {
        display:block;
        font-size:1.2rem;
        line-height:2.4rem;
				padding:0 1rem;
        text-decoration:none;

        &.active {
          .fa-plus {
            @include rotate(45deg);
          }
        }//

        @media (min-width: $screen-sm) {
          font-size:1rem;
          line-height:2.4rem;
        }//break

        //icon
        .fa-plus {
          @include transition(all .3s);
        }
      }//href
    }//li
  }//menu
}//navigation





/* ---------- *\
	NAVIGATION BUTTON
\* ---------- */
.mobile-button {
  border:none;
  display:block;
  float:right;
  font-size:1rem;
  height:2rem;
  line-height:2rem;
  margin:0;
  padding:0 1rem;

  &:hover {
    background-color:$white;
    border:none;
    color:$link;
  }

  .fa-times {display:none;}

  @media (min-width: $screen-sm) {
    display:none;
  }//break

  &.active {
    .fa-bars {display:none;}
    .fa-times {display:block;}
  }
}//mobile-button
