/* ---------- *\
	TABLE
\* ---------- */
table {
	//border:1px solid $grey;
	margin-bottom:1rem;
	width:100%;

	th,
	td {
		border-bottom:1px solid $greylt;
		font-size:1rem;
		padding:.8rem 0;
		text-align:left;
	}//th,td

	th {
		border-bottom:1px solid $grey;
		font-weight:bold;
	}//th

	tfoot {
		td {
			border-bottom:none;
		}//th,td
	}//tfoot

	//Stripped Table ----------
	&.stripped {

		tr {
			&:nth-child(even) {
				background-color:$greylt;
			}
		}//tr

		th,
		td {
			padding:.8rem;
		}//th,td
	}//stripped
}//table
