/* ---------- *\
	MEDIA QUERIES
\* ---------- */

$screen-xs:   480px !default;   //Mobile
$screen-sm:   800px !default;   //Tablet
$screen-md:   1000px !default;   //Desktop
$screen-lg:   1400px !default;  //HD Desktop
// @media (min-width: $screen-xs) { ... }
// @media (min-width: $screen-sm) { ... }
// @media (min-width: $screen-md) { ... }
// @media (min-width: $screen-lg) { ... }




/* ---------- *\
	COLORS
\* ---------- */
$blue:     #446CB3;    //Blue
$green:     #26A65B;    //Green
$bluelt:        #6BB9F0;    //Light Blue
$orange:     #F89406;    //Orange
$red:      #D91E18;    //Red

$yellow:      #F4D03F;    //Red
$purple:      #663399;    //Red
$pink:        #D2527F;    //Red

$text:        #333333;    //Text is not Black

$link:        darken( $blue, 0% );
$link-hover:  lighten( $blue, 20% );

$white:       #FFFFFF;
$black:       #000000;
$greydk:      lighten( $black, 20% );
$grey:        lighten( $black, 50% );
$greylt:      lighten( $black, 90% );






/* ---------- *\
	NAVIGATION - THEME
\* ---------- */
.navigation {
  background-color:$link;

  @media (min-width: $screen-sm) {
    background-color:transparent;
  }//break
  .menu {

    //nested ul
    ul {
      background-color:$link;

      ul {
        background-color:darken( $link, 20% );

        //nestednested ul
        ul {
          background-color:darken( $link, 30% );
        }
      }
    }//nested ul

    li {
      a {
        color:$white;

        @media (min-width: $screen-sm) {
          color:$link;

          &:hover,
          &.active {
            background-color:$link;
            color:$white;
          }//hover
        }//break
      }//href

      //nestednested li
      li {
        //nestednested href
        a {
          color:$white;

          &:hover {
            background-color:$link-hover;
          }//hover
        }//nested href
      }
    }//li
  }//menu
}//navigation
