/* ---------- *\
	TYPOGRAPHY
\* ---------- */
@import "https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600|Open+Sans+Condensed:300,700";

$open-sans: "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$open-sans-con: "Open Sans Condensed", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;


//  Text Sizing ----------
html,
body {
	@include font-smoothing(on);
	font-family: $open-sans;
	font-size:100%;

	@media (min-width: $screen-md) {
  	font-size:105%;
	}
	@media (min-width: $screen-lg) {
 		font-size:110%;
	}
}//html,body


//  Text Styling ----------
strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

//  Headers ----------
h1, h2, h3, h4 {
	font-family: $open-sans-con;
	font-weight:700;
}


h1 {
	color:$greydk;
	font-size:2.8rem;
	line-height: 3.2rem;
	margin-bottom:1.2rem;
}//h1

h2 {
	color:$greydk;
	font-size:2.4rem;
	line-height: 2.8rem;
	margin-bottom:1.2rem;
}//h1

h3 {
	color:$greydk;
	font-size:2rem;
	line-height: 2.6rem;
	margin-bottom:1.2rem;
}//h1

h4 {
	font-size:1.6rem;
	line-height: 2rem;
	margin-bottom:1rem;
}//h1

h5 {
	font-size:1rem;
	font-weight:bold;
	line-height: 1.6rem;
	margin-bottom:1rem;
	text-transform:uppercase;
}//h1

h6 {
	font-size:1rem;
	font-weight:bold;
	line-height: 1.6rem;
	margin-bottom:1rem;
}//h1

.heading {
	border-bottom:1px solid $greylt;
	margin:2rem auto 1rem;
	padding:.5rem 0;
}

p {
	color:$greydk;
	font-size:1rem;
	line-height: 1.4rem;
	margin-bottom:1rem;


}//p

a {
	color:$link;

	@media (min-width: $screen-md) {
		&:hover {
			color:$link-hover;
		}//hover
	}//break
}//a

small {
	font-size:75%;
}//small





/* ---------- *\
	TYPOGRAPHY FLAVORS
\* ---------- */

//text-primary
.text-primary {
	color:$blue
}//text-primary

//text-primary
.text-secondary {
	color:$grey
}//text-primary

//text-info
.text-info {
	color:$bluelt
}//text-info

//text-success
.text-success {
	color:$green
}//text-success

//text-warning
.text-warning {
	color:$orange
}//text-warning

//text-danger
.text-danger {
	color:$red
}//text-danger

//text-yellow
.text-yellow {
	color:$yellow
}//text-yellow

//text-purple
.text-purple {
	color:$purple
}//text-purple

//text-pink
.text-pink {
	color:$pink
}//text-pink
