@import 'cssreset';
@import 'vars';
@import 'type';
@import 'grid';
@import 'form';
@import 'table';




/* ---------- *\
	IMAGES
\* ---------- */

/* ---------- *\
Global Image Style
\* ---------- */
img {
	display:block;
	margin:0;
	max-width:100%;
  width:100%;
}//img

//Image in Figure container
.figure {
  @extend .clearfix;
  margin:0 0 1rem;
  max-width:100%;
  width:100%;

  .figure-img {
  }//img

  &.figure-left {
    float:none;
    margin:0 0 1rem;
    width:100%;

    @media (min-width: $screen-sm) {
      float:left;
      margin:0 2rem 1rem 0;
      width:50%;
    }//break
  }//float-left

  &.figure-right {
    float:none;
    margin:0 0 1rem 0;
    width:100%;

    @media (min-width: $screen-sm) {
      float:right;
      margin:0 0 1rem 2rem;
      width:50%;

      .figure-img {
      }//img
    }//break
  }//float-left

  figcaption {
    float:right;
    font-size:80%;
    color:$black-one;
    line-height:2rem;
  }
}//figure-image








/* ---------- *\
	ACCORDION
\* ---------- */
.ac-handle {
  @extend .clearfix;
  cursor:pointer;

  .fa {
    @include transition(all .3s ease);
    float:right;
  }

  &.open {
    color:$link;

    .fa {
      @include rotate(45deg);
    }//fa-icon
  }//open

  &.hover {
    color:$link;
  }
}

.ac-drawer {}



/* ---------- *\
	BRANDING
\* ---------- */



.branding {
  float:left;
  font-size:1.6rem;
  height:3rem;

  a {

    .logo {
      float:left;
      height:3rem;
      margin-right:1rem;
      width:auto;
    }//logo

    strong {
      display:block;
      line-height:3rem;
      overflow:hidden;
    }
  }//href
}//branding





.demo {
	background-color:#EFEFEF;
}
