@import "cssreset";
@import "vars";
@import "theme";
@import "type";
@import "grid";
@import "form";
@import "table";
@import "card";




/* ---------- *\
	IMAGES
\* ---------- */

//Global Image Style
img {
	display:block;
	margin:0;
	max-width:100%;
  width:100%;
}//img

//Image in Figure container
.figure {
  @extend .clearfix;
  margin:0 0 1rem;
  max-width:100%;
  width:100%;

  .figure-img {
  }//img

  &.figure-left {
    float:none;
    margin:0 0 1rem;
    width:100%;

    @media (min-width: $screen-sm) {
      float:left;
      margin:0 2rem 1rem 0;
      width:50%;
    }//break
  }//float-left

  &.figure-right {
    float:none;
    margin:0 0 1rem 0;
    width:100%;

    @media (min-width: $screen-sm) {
      float:right;
      margin:0 0 1rem 2rem;
      width:50%;

      .figure-img {
      }//img
    }//break
  }//float-left

  figcaption {
    float:right;
    font-size:80%;
    color:$grey;
    line-height:2rem;
  }
}//figure-image








/* ---------- *\
	ACCORDION
\* ---------- */
.ac-handle {
  @extend .clearfix;
  cursor:pointer;

  .fa {
    @include transition(all .3s ease);
    float:right;
  }

  &.open {
    color:$link;

    .fa {
      @include rotate(45deg);
    }//fa-icon
  }//open

  &.hover {
    color:$link;
  }
}

.ac-drawer {}




/* ---------- *\
	HEAD
\* ---------- */
#head {
  height:2rem;
  position:relative;

  @media (min-width: $screen-sm) {
    height:3rem;
  }//break

  .container {}//container
}//head




/* ---------- *\
	BRANDING
\* ---------- */
.branding {
  float:left;
  font-size:1rem;
  font-weight:bold;
  height:2rem;


  @media (min-width: $screen-sm) {
    font-size:1.2rem;
    height:3rem;
  }//break

  a {
    @extend .clearfix;
    display:block;

    .logo {
      float:left;
      height:1rem;
      margin:.5rem 1rem .5rem 0;
      width:auto;

      @media (min-width: $screen-sm) {
        height:2rem;
      }//break
    }//logo

    strong {
      display:block;
      float:left;
      line-height:2rem;

      @media (min-width: $screen-sm) {
        line-height:3rem;
      }//break
    }
  }//href
}//branding


/* ---------- *\
	NAVIGATION
\* ---------- */

.navigation {
  left:0;
  padding:1rem;
  position:absolute;
  top:100%;
  width:100%;
  z-index:1;

  @media (min-width: $screen-sm) {
    display:inline-block!important;
    float:right;
    padding:0;
    position:relative;
    width:auto;
  }//break

  .menu {
    //nested ul
    ul {
      display:none;

			@media (min-width: $screen-sm) {
				left:0;
	      position:absolute;
	      top:100%;
				width:10rem;
		  }//break

      //nestednested ul
      ul {
        display:none;
        position:static;
      }//nestednested ul
    }//nested ul

    // LIs
    li {
      position:relative;

      //nested ul
      li {
        float:none;

        //nested href
        a {
          font-size:1rem;
          line-height:2rem;
        }//nested href
      }

      @media (min-width: $screen-sm) {
        float:left;
      }//break

      a {
        display:block;
        font-size:1.2rem;
        line-height:2.4rem;
				padding:0 1rem;
        text-decoration:none;

        &.active {
          .fa-plus {
            @include rotate(45deg);
          }
        }//

        @media (min-width: $screen-sm) {
          font-size:1rem;
          line-height:2.4rem;
        }//break

        //icon
        .fa-plus {
          @include transition(all .3s);
        }
      }//href
    }//li
  }//menu
}//navigation





/* ---------- *\
	NAVIGATION BUTTON
\* ---------- */
.mobile-button {
  border:none;
  display:block;
  float:right;
  font-size:1rem;
  height:2rem;
  line-height:2rem;
  margin:0;
  padding:0 1rem;

  &:hover {
    background-color:$white;
    border:none;
    color:$link;
  }

  .fa-times {display:none;}

  @media (min-width: $screen-sm) {
    display:none;
  }//break

  &.active {
    .fa-bars {display:none;}
    .fa-times {display:block;}
  }
}//mobile-button



//Demo style for the grid presentation
.demo {
	background-color:#EFEFEF;
	border-color:$white;
	border-style:solid;
	border-width:0 1px 1px 0;
	padding:.5rem;
}

/* ---------- *\
	Demo for Palette Presentation
\* ---------- */
#palette {
	.swatch {
		float:left;
		font-size:.9rem;
		margin:1%;
		width:31.3333%;
		text-transform:uppercase;

		&:before {
			@include box-sizing(border-box);
			@include border-radius(3px);
			border:1px solid $greylt;
			color:$white;
			content:"Text";
			display:block;
			margin-bottom:.5rem;
			padding:2rem .5rem .5rem;
			text-transform:none;
			width:100%;
		}//before

		//primary
		&.primary {
			&:before {
				background-color:$primary;
				border-color:$primary;
			}//before
		}//primary

		//secondary
		&.secondary {
			&:before {
				background-color:$white;
				border-color:$primary;
				color:$primary
			}//before
		}//secondary

		//success
		&.success {
			&:before {
				background-color:$success;
				border-color:$success;
			}//before
		}//success

		//info
		&.info {
			&:before {
				background-color:$info;
				border-color:$info;
			}//before
		}//info

		//warning
		&.warning {
			&:before {
				background-color:$warning;
				border-color:$warning;
			}//before
		}//warning

		//danger
		&.danger {
			&:before {
				background-color:$danger;
				border-color:$danger;
			}//before
		}//danger

		//yellow
		&.yellow {
			&:before {
				background-color:$yellow;
				border-color:$yellow;
			}//before
		}//yellow

		//purple
		&.purple {
			&:before {
				background-color:$purple;
				border-color:$purple;
			}//before
		}//purple

		//pink
		&.pink {
			&:before {
				background-color:$pink;
				border-color:$pink;
			}//before
		}//pink

		//black
		&.black {
			&:before {
				background-color:$black;
				border-color:$black;
			}//before
		}//pink

		//greydk
		&.greydk {
			&:before {
				background-color:$greydk;
				border-color:$greydk;
			}//before
		}//greydk

		//grey
		&.grey {
			&:before {
				background-color:$grey;
				border-color:$grey;
			}//before
		}//grey

		//greylt
		&.greylt {
			&:before {
				background-color:$greylt;
				border-color:$greylt;
			}//before
		}//greylt


	}//swatch
}//palette
