/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600|Playfair+Display:900i";
/* line 6, ../sass/_cssreset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_cssreset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../sass/_cssreset.scss */
body {
  line-height: 1;
}

/* line 35, ../sass/_cssreset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/_cssreset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_cssreset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/_cssreset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 27, ../sass/_vars.scss */
html,
body {
  font-family: "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 100%;
}

/* line 131, ../sass/_vars.scss */
.clearfix:after, .container-fluid .container .row:after, .figure:after, .ac-handle:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- *\
	TYPOGRAPHY
\* ---------- */
/* line 6, ../sass/_type.scss */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 992px) {
  /* line 6, ../sass/_type.scss */
  html,
  body {
    font-size: 105%;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../sass/_type.scss */
  html,
  body {
    font-size: 110%;
  }
}

/* line 21, ../sass/_type.scss */
h1 {
  color: #333333;
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin-bottom: 1.2rem;
}

/* line 28, ../sass/_type.scss */
h2 {
  color: #333333;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 1.2rem;
}

/* line 35, ../sass/_type.scss */
h3 {
  color: #333333;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 1.2rem;
}

/* line 42, ../sass/_type.scss */
h4 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

/* line 48, ../sass/_type.scss */
h5 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* line 56, ../sass/_type.scss */
h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

/* line 64, ../sass/_type.scss */
.heading {
  border-bottom: 2px solid #e6e6e6;
  margin: 2rem auto 1rem;
  padding: .5rem 0;
}

/* line 70, ../sass/_type.scss */
p {
  color: #333333;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

/* line 79, ../sass/_type.scss */
a {
  color: #4183D7;
}
@media (min-width: 992px) {
  /* line 83, ../sass/_type.scss */
  a:hover {
    color: #1f5293;
  }
}

/* line 89, ../sass/_type.scss */
small {
  font-size: 75%;
}

/* ---------- *\
	GRID
\* ---------- */
/* line 6, ../sass/_grid.scss */
.container-fluid .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 13, ../sass/_grid.scss */
.container-fluid .container .row {
  margin-bottom: .5rem;
}
/* line 17, ../sass/_grid.scss */
.container-fluid .container .row > div {
  padding: .5rem;
}
@media (min-width: 768px) {
  /* line 17, ../sass/_grid.scss */
  .container-fluid .container .row > div {
    float: left;
  }
}
/* line 24, ../sass/_grid.scss */
.container-fluid .container .row > div.col-25 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 24, ../sass/_grid.scss */
  .container-fluid .container .row > div.col-25 {
    width: 25%;
  }
}
/* line 32, ../sass/_grid.scss */
.container-fluid .container .row > div.col-50 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 32, ../sass/_grid.scss */
  .container-fluid .container .row > div.col-50 {
    width: 50%;
  }
}
/* line 40, ../sass/_grid.scss */
.container-fluid .container .row > div.col-75 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 40, ../sass/_grid.scss */
  .container-fluid .container .row > div.col-75 {
    width: 75%;
  }
}
/* line 48, ../sass/_grid.scss */
.container-fluid .container .row > div.col-33 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 48, ../sass/_grid.scss */
  .container-fluid .container .row > div.col-33 {
    width: 33.3333%;
  }
}
/* line 56, ../sass/_grid.scss */
.container-fluid .container .row > div.col-66 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 56, ../sass/_grid.scss */
  .container-fluid .container .row > div.col-66 {
    width: 66.6666%;
  }
}

/* ---------- *\
	FORM
\* ---------- */
/* line 4, ../sass/_form.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: #FFFFFF;
  border: none;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  color: #333333;
  display: block;
  font-size: 1rem;
  height: 3rem;
  margin: .5rem 0;
  padding: .5rem;
  width: 100%;
}
/* line 33, ../sass/_form.scss */
select:active, select:focus,
textarea:active,
textarea:focus,
input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="datetime"]:active,
input[type="datetime"]:focus,
input[type="datetime-local"]:active,
input[type="datetime-local"]:focus,
input[type="date"]:active,
input[type="date"]:focus,
input[type="month"]:active,
input[type="month"]:focus,
input[type="time"]:active,
input[type="time"]:focus,
input[type="week"]:active,
input[type="week"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="url"]:active,
input[type="url"]:focus,
input[type="search"]:active,
input[type="search"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="color"]:active,
input[type="color"]:focus {
  color: #000;
  border-color: #333333;
  outline: none;
}

/* line 42, ../sass/_form.scss */
textarea {
  height: auto;
}

/* line 48, ../sass/_form.scss */
form .form-group {
  margin-bottom: 2rem;
}
/* line 51, ../sass/_form.scss */
form .form-group label {
  font-size: 1rem;
  font-weight: bold;
}

/* line 59, ../sass/_form.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  color: #4183D7;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.6rem;
  line-height: 2.6rem;
  padding: 0 1.4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}
/* line 80, ../sass/_form.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #4183D7;
  border: 1px solid #4183D7;
  color: #FFFFFF;
}
/* line 86, ../sass/_form.scss */
.button.secondary,
button.secondary,
input[type="submit"].secondary,
input[type="reset"].secondary,
input[type="button"].secondary {
  background-color: #4183D7;
  border: 1px solid #4183D7;
  color: #FFFFFF;
}
/* line 91, ../sass/_form.scss */
.button.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="button"].secondary:hover {
  background-color: #1f5293;
  border-color: #1f5293;
}
/* line 98, ../sass/_form.scss */
.button.danger,
button.danger,
input[type="submit"].danger,
input[type="reset"].danger,
input[type="button"].danger {
  background-color: #D64541;
  border: 1px solid #D64541;
  color: #FFFFFF;
}
/* line 103, ../sass/_form.scss */
.button.danger:hover,
button.danger:hover,
input[type="submit"].danger:hover,
input[type="reset"].danger:hover,
input[type="button"].danger:hover {
  background-color: #bc2c28;
  border-color: #bc2c28;
}
/* line 110, ../sass/_form.scss */
.button.proceed,
button.proceed,
input[type="submit"].proceed,
input[type="reset"].proceed,
input[type="button"].proceed {
  background-color: #26A65B;
  border: 1px solid #26A65B;
  color: #FFFFFF;
}
/* line 115, ../sass/_form.scss */
.button.proceed:hover,
button.proceed:hover,
input[type="submit"].proceed:hover,
input[type="reset"].proceed:hover,
input[type="button"].proceed:hover {
  background-color: #1c7d44;
  border-color: #1c7d44;
}

/* ---------- *\
	TABLE
\* ---------- */
/* line 4, ../sass/_table.scss */
table {
  margin-bottom: 1rem;
  width: 100%;
}
/* line 10, ../sass/_table.scss */
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
/* line 15, ../sass/_table.scss */
table th,
table td {
  border-bottom: 1px solid #e6e6e6;
  font-size: 1rem;
  padding: .5rem;
  text-align: left;
}
/* line 22, ../sass/_table.scss */
table th:first-child, table th:first-child,
table td:first-child,
table td:first-child {
  padding-left: 0;
}
/* line 26, ../sass/_table.scss */
table th:last-child, table th:last-child,
table td:last-child,
table td:last-child {
  padding-right: 0;
}
/* line 31, ../sass/_table.scss */
table th {
  border-bottom: 2px solid #e6e6e6;
  font-weight: bold;
}

/* ---------- *\
	IMAGES
\* ---------- */
/* ---------- *\
Global Image Style
\* ---------- */
/* line 18, ../sass/screen.scss */
img {
  display: block;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

/* line 26, ../sass/screen.scss */
.figure {
  margin: 0 0 1rem;
  max-width: 100%;
  width: 100%;
}
/* line 35, ../sass/screen.scss */
.figure.figure-left {
  float: none;
  margin: 0 0 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 35, ../sass/screen.scss */
  .figure.figure-left {
    float: left;
    margin: 0 2rem 1rem 0;
    width: 50%;
  }
}
/* line 47, ../sass/screen.scss */
.figure.figure-right {
  float: none;
  margin: 0 0 1rem 0;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 47, ../sass/screen.scss */
  .figure.figure-right {
    float: right;
    margin: 0 0 1rem 2rem;
    width: 50%;
  }
}
/* line 62, ../sass/screen.scss */
.figure figcaption {
  float: right;
  font-size: 80%;
  color: #333333;
  line-height: 2rem;
}

/* ---------- *\
	ACCORDION
\* ---------- */
/* line 80, ../sass/screen.scss */
.ac-handle {
  cursor: pointer;
}
/* line 84, ../sass/screen.scss */
.ac-handle .fa {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
}
/* line 89, ../sass/screen.scss */
.ac-handle.open {
  color: #4183D7;
}
/* line 92, ../sass/screen.scss */
.ac-handle.open .fa {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067812, M12=-0.7071067812, M21=0.7071067812, M22=0.7071067812)";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067812, M12=-0.7071067812, M21=0.7071067812, M22=0.7071067812);
}
/* line 97, ../sass/screen.scss */
.ac-handle.hover {
  color: #4183D7;
}

/* ---------- *\
	BRANDING
\* ---------- */
/* line 112, ../sass/screen.scss */
.branding {
  float: left;
  font-size: 1.6rem;
  height: 3rem;
}
/* line 119, ../sass/screen.scss */
.branding a .logo {
  float: left;
  height: 3rem;
  margin-right: 1rem;
  width: auto;
}
/* line 126, ../sass/screen.scss */
.branding a strong {
  display: block;
  line-height: 3rem;
  overflow: hidden;
}

/* line 138, ../sass/screen.scss */
.demo {
  background-color: #EFEFEF;
}
