/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600|Open+Sans+Condensed:300,700";
/* line 6, ../sass/_cssreset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_cssreset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../sass/_cssreset.scss */
body {
  line-height: 1;
}

/* line 35, ../sass/_cssreset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/_cssreset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_cssreset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/_cssreset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 64, ../sass/_vars.scss */
.clearfix:after, .container-fluid .row:after,
.container .row:after, .branding a:after, .card:after, .card .card-profile:after, .figure:after, .ac-handle:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- *\
	BREAKPOINTS
\* ---------- */
/* ---------- *\
	COLORS
\* ---------- */
/* ---------- *\
	NAVIGATION - THEME
\* ---------- */
/* line 52, ../sass/_theme.scss */
.navigation {
  background-color: #446cb3;
}
@media (min-width: 800px) {
  /* line 52, ../sass/_theme.scss */
  .navigation {
    background-color: transparent;
  }
}
/* line 61, ../sass/_theme.scss */
.navigation .menu ul {
  background-color: #446cb3;
}
/* line 64, ../sass/_theme.scss */
.navigation .menu ul ul {
  background-color: #283f69;
}
/* line 68, ../sass/_theme.scss */
.navigation .menu ul ul ul {
  background-color: #1a2944;
}
/* line 75, ../sass/_theme.scss */
.navigation .menu li a {
  color: #FFFFFF;
}
@media (min-width: 800px) {
  /* line 75, ../sass/_theme.scss */
  .navigation .menu li a {
    color: #446cb3;
  }
  /* line 81, ../sass/_theme.scss */
  .navigation .menu li a:hover, .navigation .menu li a.active {
    background-color: #446cb3;
    color: #FFFFFF;
  }
}
/* line 92, ../sass/_theme.scss */
.navigation .menu li li a {
  color: #FFFFFF;
}
/* line 95, ../sass/_theme.scss */
.navigation .menu li li a:hover {
  background-color: #7896cc;
}

/* ---------- *\
	TYPOGRAPHY
\* ---------- */
/* line 10, ../sass/_type.scss */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 100%;
}
@media (min-width: 1000px) {
  /* line 10, ../sass/_type.scss */
  html,
  body {
    font-size: 105%;
  }
}
@media (min-width: 1400px) {
  /* line 10, ../sass/_type.scss */
  html,
  body {
    font-size: 110%;
  }
}

/* line 26, ../sass/_type.scss */
strong {
  font-weight: bold;
}

/* line 30, ../sass/_type.scss */
em {
  font-style: italic;
}

/* line 35, ../sass/_type.scss */
h1, h2, h3, h4 {
  font-weight: 600;
}

/* line 41, ../sass/_type.scss */
h1 {
  color: #333333;
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin-bottom: 1.2rem;
}

/* line 48, ../sass/_type.scss */
h2 {
  color: #333333;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 1.2rem;
}

/* line 55, ../sass/_type.scss */
h3 {
  color: #333333;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 1.2rem;
}

/* line 62, ../sass/_type.scss */
h4 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

/* line 68, ../sass/_type.scss */
h5 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* line 76, ../sass/_type.scss */
h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

/* line 83, ../sass/_type.scss */
.heading {
  border-bottom: 1px solid #e6e6e6;
  margin: 2rem auto 1rem;
  padding: .5rem 0;
}

/* line 89, ../sass/_type.scss */
p {
  color: #333333;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

/* line 96, ../sass/_type.scss */
a {
  color: #446cb3;
}
@media (min-width: 1000px) {
  /* line 100, ../sass/_type.scss */
  a:hover {
    color: #7896cc;
  }
}

/* line 106, ../sass/_type.scss */
small {
  font-size: 75%;
}

/* ---------- *\
	TYPOGRAPHY FLAVORS
\* ---------- */
/* line 119, ../sass/_type.scss */
.text-primary {
  color: #446CB3;
}

/* line 124, ../sass/_type.scss */
.text-secondary {
  color: #3A539B;
}

/* line 129, ../sass/_type.scss */
.text-info {
  color: #6BB9F0;
}

/* line 134, ../sass/_type.scss */
.text-success {
  color: #26A65B;
}

/* line 139, ../sass/_type.scss */
.text-warning {
  color: #F89406;
}

/* line 144, ../sass/_type.scss */
.text-danger {
  color: #D91E18;
}

/* line 149, ../sass/_type.scss */
.text-yellow {
  color: #F4D03F;
}

/* line 154, ../sass/_type.scss */
.text-purple {
  color: #663399;
}

/* line 159, ../sass/_type.scss */
.text-pink {
  color: #D2527F;
}

/* ---------- *\
	GRID
\* ---------- */
/* line 5, ../sass/_grid.scss */
.container-fluid,
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 11, ../sass/_grid.scss */
.container-fluid .row,
.container .row {
  clear: both;
}
/* line 16, ../sass/_grid.scss */
.container-fluid .row > div,
.container-fluid .row section,
.container-fluid .row aside,
.container .row > div,
.container .row section,
.container .row aside {
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 800px) {
  /* line 16, ../sass/_grid.scss */
  .container-fluid .row > div,
  .container-fluid .row section,
  .container-fluid .row aside,
  .container .row > div,
  .container .row section,
  .container .row aside {
    float: left;
  }
}
@media (min-width: 800px) {
  /* line 26, ../sass/_grid.scss */
  .container-fluid .row > div.col-25,
  .container-fluid .row section.col-25,
  .container-fluid .row aside.col-25,
  .container .row > div.col-25,
  .container .row section.col-25,
  .container .row aside.col-25 {
    width: 25%;
  }
}
@media (min-width: 800px) {
  /* line 32, ../sass/_grid.scss */
  .container-fluid .row > div.col-50,
  .container-fluid .row section.col-50,
  .container-fluid .row aside.col-50,
  .container .row > div.col-50,
  .container .row section.col-50,
  .container .row aside.col-50 {
    width: 50%;
  }
}
@media (min-width: 800px) {
  /* line 38, ../sass/_grid.scss */
  .container-fluid .row > div.col-75,
  .container-fluid .row section.col-75,
  .container-fluid .row aside.col-75,
  .container .row > div.col-75,
  .container .row section.col-75,
  .container .row aside.col-75 {
    width: 75%;
  }
}
@media (min-width: 800px) {
  /* line 44, ../sass/_grid.scss */
  .container-fluid .row > div.col-33,
  .container-fluid .row section.col-33,
  .container-fluid .row aside.col-33,
  .container .row > div.col-33,
  .container .row section.col-33,
  .container .row aside.col-33 {
    width: 33.3333%;
  }
}
@media (min-width: 800px) {
  /* line 50, ../sass/_grid.scss */
  .container-fluid .row > div.col-66,
  .container-fluid .row section.col-66,
  .container-fluid .row aside.col-66,
  .container .row > div.col-66,
  .container .row section.col-66,
  .container .row aside.col-66 {
    width: 66.6666%;
  }
}
@media (min-width: 800px) {
  /* line 56, ../sass/_grid.scss */
  .container-fluid .row > div.col-10,
  .container-fluid .row section.col-10,
  .container-fluid .row aside.col-10,
  .container .row > div.col-10,
  .container .row section.col-10,
  .container .row aside.col-10 {
    width: 10%;
  }
}
@media (min-width: 800px) {
  /* line 62, ../sass/_grid.scss */
  .container-fluid .row > div.col-20,
  .container-fluid .row section.col-20,
  .container-fluid .row aside.col-20,
  .container .row > div.col-20,
  .container .row section.col-20,
  .container .row aside.col-20 {
    width: 20%;
  }
}
@media (min-width: 800px) {
  /* line 68, ../sass/_grid.scss */
  .container-fluid .row > div.col-30,
  .container-fluid .row section.col-30,
  .container-fluid .row aside.col-30,
  .container .row > div.col-30,
  .container .row section.col-30,
  .container .row aside.col-30 {
    width: 30%;
  }
}
@media (min-width: 800px) {
  /* line 74, ../sass/_grid.scss */
  .container-fluid .row > div.col-40,
  .container-fluid .row section.col-40,
  .container-fluid .row aside.col-40,
  .container .row > div.col-40,
  .container .row section.col-40,
  .container .row aside.col-40 {
    width: 40%;
  }
}
@media (min-width: 800px) {
  /* line 80, ../sass/_grid.scss */
  .container-fluid .row > div.col-60,
  .container-fluid .row section.col-60,
  .container-fluid .row aside.col-60,
  .container .row > div.col-60,
  .container .row section.col-60,
  .container .row aside.col-60 {
    width: 60%;
  }
}
@media (min-width: 800px) {
  /* line 86, ../sass/_grid.scss */
  .container-fluid .row > div.col-70,
  .container-fluid .row section.col-70,
  .container-fluid .row aside.col-70,
  .container .row > div.col-70,
  .container .row section.col-70,
  .container .row aside.col-70 {
    width: 70%;
  }
}
@media (min-width: 800px) {
  /* line 92, ../sass/_grid.scss */
  .container-fluid .row > div.col-80,
  .container-fluid .row section.col-80,
  .container-fluid .row aside.col-80,
  .container .row > div.col-80,
  .container .row section.col-80,
  .container .row aside.col-80 {
    width: 80%;
  }
}
@media (min-width: 800px) {
  /* line 98, ../sass/_grid.scss */
  .container-fluid .row > div.col-90,
  .container-fluid .row section.col-90,
  .container-fluid .row aside.col-90,
  .container .row > div.col-90,
  .container .row section.col-90,
  .container .row aside.col-90 {
    width: 90%;
  }
}
@media (min-width: 800px) {
  /* line 104, ../sass/_grid.scss */
  .container-fluid .row > div.col-100,
  .container-fluid .row section.col-100,
  .container-fluid .row aside.col-100,
  .container .row > div.col-100,
  .container .row section.col-100,
  .container .row aside.col-100 {
    width: 100%;
  }
}
@media (min-width: 800px) {
  /* line 115, ../sass/_grid.scss */
  .container-fluid .row > div.offset-25,
  .container-fluid .row section.offset-25,
  .container-fluid .row aside.offset-25,
  .container .row > div.offset-25,
  .container .row section.offset-25,
  .container .row aside.offset-25 {
    margin-left: 25%;
  }
}
@media (min-width: 800px) {
  /* line 122, ../sass/_grid.scss */
  .container-fluid .row > div.offset-50,
  .container-fluid .row section.offset-50,
  .container-fluid .row aside.offset-50,
  .container .row > div.offset-50,
  .container .row section.offset-50,
  .container .row aside.offset-50 {
    margin-left: 50%;
  }
}
@media (min-width: 800px) {
  /* line 128, ../sass/_grid.scss */
  .container-fluid .row > div.offset-75,
  .container-fluid .row section.offset-75,
  .container-fluid .row aside.offset-75,
  .container .row > div.offset-75,
  .container .row section.offset-75,
  .container .row aside.offset-75 {
    margin-left: 75%;
  }
}
@media (min-width: 800px) {
  /* line 134, ../sass/_grid.scss */
  .container-fluid .row > div.offset-33,
  .container-fluid .row section.offset-33,
  .container-fluid .row aside.offset-33,
  .container .row > div.offset-33,
  .container .row section.offset-33,
  .container .row aside.offset-33 {
    margin-left: 33.3333%;
  }
}
@media (min-width: 800px) {
  /* line 140, ../sass/_grid.scss */
  .container-fluid .row > div.offset-66,
  .container-fluid .row section.offset-66,
  .container-fluid .row aside.offset-66,
  .container .row > div.offset-66,
  .container .row section.offset-66,
  .container .row aside.offset-66 {
    margin-left: 66.6666%;
  }
}
@media (min-width: 800px) {
  /* line 146, ../sass/_grid.scss */
  .container-fluid .row > div.offset-10,
  .container-fluid .row section.offset-10,
  .container-fluid .row aside.offset-10,
  .container .row > div.offset-10,
  .container .row section.offset-10,
  .container .row aside.offset-10 {
    margin-left: 10%;
  }
}
@media (min-width: 800px) {
  /* line 152, ../sass/_grid.scss */
  .container-fluid .row > div.offset-20,
  .container-fluid .row section.offset-20,
  .container-fluid .row aside.offset-20,
  .container .row > div.offset-20,
  .container .row section.offset-20,
  .container .row aside.offset-20 {
    margin-left: 20%;
  }
}
@media (min-width: 800px) {
  /* line 158, ../sass/_grid.scss */
  .container-fluid .row > div.offset-40,
  .container-fluid .row section.offset-40,
  .container-fluid .row aside.offset-40,
  .container .row > div.offset-40,
  .container .row section.offset-40,
  .container .row aside.offset-40 {
    margin-left: 40%;
  }
}
@media (min-width: 800px) {
  /* line 164, ../sass/_grid.scss */
  .container-fluid .row > div.offset-60,
  .container-fluid .row section.offset-60,
  .container-fluid .row aside.offset-60,
  .container .row > div.offset-60,
  .container .row section.offset-60,
  .container .row aside.offset-60 {
    margin-left: 60%;
  }
}
@media (min-width: 800px) {
  /* line 170, ../sass/_grid.scss */
  .container-fluid .row > div.offset-80,
  .container-fluid .row section.offset-80,
  .container-fluid .row aside.offset-80,
  .container .row > div.offset-80,
  .container .row section.offset-80,
  .container .row aside.offset-80 {
    margin-left: 80%;
  }
}
/* line 180, ../sass/_grid.scss */
.container-fluid .container,
.container .container {
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ---------- *\
	FORM
\* ---------- */
/* line 4, ../sass/_form.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: #FFFFFF;
  border: none;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  color: #333333;
  display: block;
  font-size: 1rem;
  height: 2.6rem;
  margin: .5rem 0;
  padding: .5rem;
  width: 100%;
}
/* line 33, ../sass/_form.scss */
select:active, select:focus,
textarea:active,
textarea:focus,
input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="datetime"]:active,
input[type="datetime"]:focus,
input[type="datetime-local"]:active,
input[type="datetime-local"]:focus,
input[type="date"]:active,
input[type="date"]:focus,
input[type="month"]:active,
input[type="month"]:focus,
input[type="time"]:active,
input[type="time"]:focus,
input[type="week"]:active,
input[type="week"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="url"]:active,
input[type="url"]:focus,
input[type="search"]:active,
input[type="search"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="color"]:active,
input[type="color"]:focus {
  color: #000000;
  border-color: #446cb3;
  outline: none;
}

/* line 45, ../sass/_form.scss */
.success label {
  color: #26A65B;
}
/* line 49, ../sass/_form.scss */
.success select,
.success textarea,
.success input[type="text"],
.success input[type="password"],
.success input[type="datetime"],
.success input[type="datetime-local"],
.success input[type="date"],
.success input[type="month"],
.success input[type="time"],
.success input[type="week"],
.success input[type="number"],
.success input[type="email"],
.success input[type="url"],
.success input[type="search"],
.success input[type="tel"],
.success input[type="color"] {
  border-color: #26A65B;
  color: #26A65B;
  font-weight: bold;
}
/* line 69, ../sass/_form.scss */
.success select:active, .success select:focus,
.success textarea:active,
.success textarea:focus,
.success input[type="text"]:active,
.success input[type="text"]:focus,
.success input[type="password"]:active,
.success input[type="password"]:focus,
.success input[type="datetime"]:active,
.success input[type="datetime"]:focus,
.success input[type="datetime-local"]:active,
.success input[type="datetime-local"]:focus,
.success input[type="date"]:active,
.success input[type="date"]:focus,
.success input[type="month"]:active,
.success input[type="month"]:focus,
.success input[type="time"]:active,
.success input[type="time"]:focus,
.success input[type="week"]:active,
.success input[type="week"]:focus,
.success input[type="number"]:active,
.success input[type="number"]:focus,
.success input[type="email"]:active,
.success input[type="email"]:focus,
.success input[type="url"]:active,
.success input[type="url"]:focus,
.success input[type="search"]:active,
.success input[type="search"]:focus,
.success input[type="tel"]:active,
.success input[type="tel"]:focus,
.success input[type="color"]:active,
.success input[type="color"]:focus {
  border-color: #26A65B;
  color: #26A65B;
}

/* line 79, ../sass/_form.scss */
.error label {
  color: #D91E18;
}
/* line 83, ../sass/_form.scss */
.error select,
.error textarea,
.error input[type="text"],
.error input[type="password"],
.error input[type="datetime"],
.error input[type="datetime-local"],
.error input[type="date"],
.error input[type="month"],
.error input[type="time"],
.error input[type="week"],
.error input[type="number"],
.error input[type="email"],
.error input[type="url"],
.error input[type="search"],
.error input[type="tel"],
.error input[type="color"] {
  border-color: #D91E18;
  color: #D91E18;
  font-weight: bold;
}
/* line 103, ../sass/_form.scss */
.error select:active, .error select:focus,
.error textarea:active,
.error textarea:focus,
.error input[type="text"]:active,
.error input[type="text"]:focus,
.error input[type="password"]:active,
.error input[type="password"]:focus,
.error input[type="datetime"]:active,
.error input[type="datetime"]:focus,
.error input[type="datetime-local"]:active,
.error input[type="datetime-local"]:focus,
.error input[type="date"]:active,
.error input[type="date"]:focus,
.error input[type="month"]:active,
.error input[type="month"]:focus,
.error input[type="time"]:active,
.error input[type="time"]:focus,
.error input[type="week"]:active,
.error input[type="week"]:focus,
.error input[type="number"]:active,
.error input[type="number"]:focus,
.error input[type="email"]:active,
.error input[type="email"]:focus,
.error input[type="url"]:active,
.error input[type="url"]:focus,
.error input[type="search"]:active,
.error input[type="search"]:focus,
.error input[type="tel"]:active,
.error input[type="tel"]:focus,
.error input[type="color"]:active,
.error input[type="color"]:focus {
  border-color: #D91E18;
  color: #D91E18;
}

/* line 112, ../sass/_form.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: -2px;
  margin-bottom: -2px;
}

/* line 119, ../sass/_form.scss */
textarea {
  height: auto;
}

/* line 125, ../sass/_form.scss */
form .form-group {
  margin-bottom: 2rem;
}
/* line 128, ../sass/_form.scss */
form .form-group label {
  font-size: 1rem;
  font-weight: bold;
}
/* line 133, ../sass/_form.scss */
form .form-group label strong {
  color: #D91E18;
}
/* line 142, ../sass/_form.scss */
form .check-radio label {
  font-weight: normal;
  padding-left: 1.2rem;
  position: relative;
}
/* line 147, ../sass/_form.scss */
form .check-radio label input[type=checkbox],
form .check-radio label input[type=radio] {
  position: absolute;
  top: .2rem;
  left: 0;
}

/* line 158, ../sass/_form.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #333333;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  height: 2.4rem;
  line-height: 2.4rem;
  padding: 0 1.2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

/* ---------- *\
	BUTTONS
\* ---------- */
/* line 186, ../sass/_form.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #FFFFFF;
  border-color: #446cb3;
  color: #446cb3;
}
/* line 195, ../sass/_form.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #446cb3;
  border-color: #446cb3;
  color: #FFFFFF;
}
/* line 201, ../sass/_form.scss */
.button.primary,
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
  background-color: #446CB3;
  border-color: #446CB3;
  color: #FFFFFF;
}
/* line 206, ../sass/_form.scss */
.button.primary:hover,
button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover {
  background-color: #2f4b7c;
}
/* line 211, ../sass/_form.scss */
.button.info,
button.info,
input[type="submit"].info,
input[type="reset"].info,
input[type="button"].info {
  background-color: #6BB9F0;
  border-color: #6BB9F0;
  color: #FFFFFF;
}
/* line 216, ../sass/_form.scss */
.button.info:hover,
button.info:hover,
input[type="submit"].info:hover,
input[type="reset"].info:hover,
input[type="button"].info:hover {
  background-color: #3da3eb;
}
/* line 221, ../sass/_form.scss */
.button.success,
button.success,
input[type="submit"].success,
input[type="reset"].success,
input[type="button"].success {
  background-color: #26A65B;
  border-color: #26A65B;
  color: #FFFFFF;
}
/* line 226, ../sass/_form.scss */
.button.success:hover,
button.success:hover,
input[type="submit"].success:hover,
input[type="reset"].success:hover,
input[type="button"].success:hover {
  background-color: #1c7d44;
}
/* line 231, ../sass/_form.scss */
.button.warning,
button.warning,
input[type="submit"].warning,
input[type="reset"].warning,
input[type="button"].warning {
  background-color: #F89406;
  border-color: #F89406;
  color: #FFFFFF;
}
/* line 236, ../sass/_form.scss */
.button.warning:hover,
button.warning:hover,
input[type="submit"].warning:hover,
input[type="reset"].warning:hover,
input[type="button"].warning:hover {
  background-color: #c67605;
}
/* line 241, ../sass/_form.scss */
.button.danger,
button.danger,
input[type="submit"].danger,
input[type="reset"].danger,
input[type="button"].danger {
  background-color: #D91E18;
  border-color: #D91E18;
  color: #FFFFFF;
}
/* line 246, ../sass/_form.scss */
.button.danger:hover,
button.danger:hover,
input[type="submit"].danger:hover,
input[type="reset"].danger:hover,
input[type="button"].danger:hover {
  background-color: #ab1813;
}
/* line 251, ../sass/_form.scss */
.button.yellow,
button.yellow,
input[type="submit"].yellow,
input[type="reset"].yellow,
input[type="button"].yellow {
  background-color: #F4D03F;
  border-color: #F4D03F;
  color: #FFFFFF;
}
/* line 256, ../sass/_form.scss */
.button.yellow:hover,
button.yellow:hover,
input[type="submit"].yellow:hover,
input[type="reset"].yellow:hover,
input[type="button"].yellow:hover {
  background-color: #dab10c;
}
/* line 262, ../sass/_form.scss */
.button.purple,
button.purple,
input[type="submit"].purple,
input[type="reset"].purple,
input[type="button"].purple {
  background-color: #663399;
  border-color: #663399;
  color: #FFFFFF;
}
/* line 267, ../sass/_form.scss */
.button.purple:hover,
button.purple:hover,
input[type="submit"].purple:hover,
input[type="reset"].purple:hover,
input[type="button"].purple:hover {
  background-color: #4c2673;
}
/* line 272, ../sass/_form.scss */
.button.pink,
button.pink,
input[type="submit"].pink,
input[type="reset"].pink,
input[type="button"].pink {
  background-color: #D2527F;
  border-color: #D2527F;
  color: #FFFFFF;
}
/* line 277, ../sass/_form.scss */
.button.pink:hover,
button.pink:hover,
input[type="submit"].pink:hover,
input[type="reset"].pink:hover,
input[type="button"].pink:hover {
  background-color: #ab2c59;
}

/* ---------- *\
	TABLE
\* ---------- */
/* line 4, ../sass/_table.scss */
table {
  margin-bottom: 1rem;
  width: 100%;
}
/* line 9, ../sass/_table.scss */
table th,
table td {
  border-bottom: 1px solid #e6e6e6;
  font-size: 1rem;
  padding: .8rem 0;
  text-align: left;
}
/* line 17, ../sass/_table.scss */
table th {
  border-bottom: 1px solid gray;
  font-weight: bold;
}
/* line 23, ../sass/_table.scss */
table tfoot td {
  border-bottom: none;
}
/* line 32, ../sass/_table.scss */
table.stripped tr:nth-child(even) {
  background-color: #e6e6e6;
}
/* line 37, ../sass/_table.scss */
table.stripped th,
table.stripped td {
  padding: .8rem;
}

/* ---------- *\
	Lists
\* ---------- */
/* line 4, ../sass/_list.scss */
ul {
  list-style-type: disc;
}
/* line 8, ../sass/_list.scss */
ul.naked {
  list-style-type: none;
}

/* line 13, ../sass/_list.scss */
ol {
  list-style-type: decimal;
}

/* line 17, ../sass/_list.scss */
ol, ul {
  padding-left: 0;
  margin-top: 0;
}

/* line 22, ../sass/_list.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  list-style-type: circle;
  margin: 1.5rem 0 1.5rem 1rem;
  font-size: 90%;
}

/* line 34, ../sass/_list.scss */
.naked ul,
.naked ol {
  margin: 1.5rem 0 1.5rem 1rem;
  font-size: 90%;
}

/* line 42, ../sass/_list.scss */
li {
  margin-bottom: 1rem;
}

/* ---------- *\
	HEAD
\* ---------- */
/* line 4, ../sass/_header.scss */
#head {
  border-bottom: 1px solid #e6e6e6;
  height: 4rem;
  position: relative;
}
@media (min-width: 800px) {
  /* line 4, ../sass/_header.scss */
  #head {
    height: 5rem;
  }
}

/* ---------- *\
	BRANDING
\* ---------- */
/* line 22, ../sass/_header.scss */
.branding {
  float: left;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
@media (min-width: 800px) {
  /* line 22, ../sass/_header.scss */
  .branding {
    font-size: 1.6rem;
  }
}
/* line 32, ../sass/_header.scss */
.branding a {
  display: block;
}
/* line 36, ../sass/_header.scss */
.branding a .logo {
  display: block;
  background-color: #446CB3;
  float: left;
  height: 3rem;
  margin: .5rem;
  padding: 0;
  width: auto;
}
@media (min-width: 800px) {
  /* line 36, ../sass/_header.scss */
  .branding a .logo {
    height: 4rem;
  }
}
/* line 50, ../sass/_header.scss */
.branding a strong {
  display: block;
  float: left;
  line-height: 4rem;
}
@media (min-width: 800px) {
  /* line 50, ../sass/_header.scss */
  .branding a strong {
    line-height: 5rem;
  }
}

/* ---------- *\
	NAVIGATION
\* ---------- */
/* line 67, ../sass/_header.scss */
.navigation {
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}
@media (min-width: 800px) {
  /* line 67, ../sass/_header.scss */
  .navigation {
    display: inline-block !important;
    float: right;
    margin-top: 1.3rem;
    padding: 0;
    position: relative;
    top: auto;
    width: auto;
  }
}
/* line 85, ../sass/_header.scss */
.navigation .menu {
  list-style-type: none;
}
/* line 89, ../sass/_header.scss */
.navigation .menu ul {
  display: none;
  list-style-type: none;
  margin: 0;
}
@media (min-width: 800px) {
  /* line 89, ../sass/_header.scss */
  .navigation .menu ul {
    left: 0;
    position: absolute;
    top: 100%;
    width: 10rem;
  }
}
/* line 102, ../sass/_header.scss */
.navigation .menu ul ul {
  display: none;
  position: static;
}
/* line 109, ../sass/_header.scss */
.navigation .menu li {
  margin: 0;
  position: relative;
}
/* line 114, ../sass/_header.scss */
.navigation .menu li li {
  float: none;
}
/* line 118, ../sass/_header.scss */
.navigation .menu li li a {
  font-size: 1rem;
  line-height: 2rem;
}
@media (min-width: 800px) {
  /* line 109, ../sass/_header.scss */
  .navigation .menu li {
    float: left;
  }
}
/* line 128, ../sass/_header.scss */
.navigation .menu li a {
  display: block;
  font-size: 1.2rem;
  line-height: 2.4rem;
  padding: 0 1rem;
  text-decoration: none;
}
/* line 136, ../sass/_header.scss */
.navigation .menu li a.active .fa-plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067812, M12=-0.7071067812, M21=0.7071067812, M22=0.7071067812)";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067812, M12=-0.7071067812, M21=0.7071067812, M22=0.7071067812);
}
@media (min-width: 800px) {
  /* line 128, ../sass/_header.scss */
  .navigation .menu li a {
    font-size: 1rem;
    line-height: 2.4rem;
  }
}
/* line 147, ../sass/_header.scss */
.navigation .menu li a .fa-plus {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------- *\
	NAVIGATION BUTTON
\* ---------- */
/* line 162, ../sass/_header.scss */
.mobile-button {
  border: none;
  display: block;
  float: right;
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0 1rem;
}
/* line 172, ../sass/_header.scss */
.mobile-button:hover {
  background-color: #FFFFFF;
  border: none;
  color: #446cb3;
}
/* line 178, ../sass/_header.scss */
.mobile-button .fa-times {
  display: none;
}
@media (min-width: 800px) {
  /* line 162, ../sass/_header.scss */
  .mobile-button {
    display: none;
  }
}
/* line 185, ../sass/_header.scss */
.mobile-button.active .fa-bars {
  display: none;
}
/* line 186, ../sass/_header.scss */
.mobile-button.active .fa-times {
  display: block;
}

/* ---------- *\
	CARD
\* ---------- */
/* line 5, ../sass/_card.scss */
.card {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px solid #e6e6e6;
  /* ---------- *\
  	PROFILE COLUMN
  \* ---------- */
}
/* line 11, ../sass/_card.scss */
.card a {
  text-decoration: none;
}
/* line 14, ../sass/_card.scss */
.card a .card-image {
  display: block;
  position: relative;
  width: 100%;
}
/* line 25, ../sass/_card.scss */
.card a .card-image span {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: block;
  overflow: hidden;
  padding: 0 0 56.25% 0;
  position: relative;
  width: 100%;
}
/* line 33, ../sass/_card.scss */
.card a .card-image span img {
  transition: all 4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: auto;
  width: 100%;
}
/* line 47, ../sass/_card.scss */
.card a .card-content {
  display: block;
  overflow: hidden;
  padding: .5rem 1rem 1rem;
}
/* line 52, ../sass/_card.scss */
.card a .card-content .card-title {
  transition: all .4s;
  display: inline-block;
  color: #333333;
  font: normal 600 1.4rem/1.6rem "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: .5rem 0;
}
/* line 60, ../sass/_card.scss */
.card a .card-content .card-meta {
  color: #333333;
  display: block;
  font: normal 600 0.8rem/1.4rem "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-transform: uppercase;
}
/* line 67, ../sass/_card.scss */
.card a .card-content .card-text {
  color: #333333;
  display: block;
  font: normal normal 0.9rem/1.2rem "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 76, ../sass/_card.scss */
.card a:hover .card-image img {
  transform: scale(1.1);
}
/* line 82, ../sass/_card.scss */
.card a:hover .card-content .card-title {
  color: #446CB3;
}
/* line 92, ../sass/_card.scss */
.card .card-profile {
  background-color: #e6e6e6;
  display: block;
  padding: 1rem;
}
/* line 98, ../sass/_card.scss */
.card .card-profile .card-profile-avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  float: left;
  margin: 0 .5rem 0 0;
  width: 3.6rem;
}
/* line 105, ../sass/_card.scss */
.card .card-profile .card-profile-user {
  display: block;
  font: normal 600 0.9rem/1rem "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  overflow: hidden;
}
/* line 111, ../sass/_card.scss */
.card .card-profile .card-profile-meta {
  color: gray;
  display: block;
  font: normal 500 0.8rem/1.6rem "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  overflow: hidden;
}

/* ---------- *\
	CARD in ASIDE
\* ---------- */
@media (min-width: 480px) {
  /* line 131, ../sass/_card.scss */
  .sidebar .card a .card-image {
    float: none;
    margin: 0 0 1rem 0;
    width: 100%;
  }
}
/* line 141, ../sass/_card.scss */
.sidebar .card a .card-content .card-title {
  font-size: 1.4rem;
}
/* line 146, ../sass/_card.scss */
.sidebar .card a .card-content .card-author {
  font-size: .8rem;
}
/* line 150, ../sass/_card.scss */
.sidebar .card a .card-content .card-meta {
  font-size: .8rem;
}
/* line 154, ../sass/_card.scss */
.sidebar .card a .card-content .card-text {
  font-size: .8rem;
  line-height: 1.4rem;
}

/* ---------- *\
	IMAGES
\* ---------- */
/* line 20, ../sass/screen.scss */
img {
  display: block;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

/* line 28, ../sass/screen.scss */
.figure {
  margin: 0 0 1rem;
  max-width: 100%;
  width: 100%;
}
/* line 37, ../sass/screen.scss */
.figure.figure-left {
  float: none;
  margin: 0 0 1rem;
  width: 100%;
}
@media (min-width: 800px) {
  /* line 37, ../sass/screen.scss */
  .figure.figure-left {
    float: left;
    margin: 0 2rem 1rem 0;
    width: 45%;
  }
}
/* line 49, ../sass/screen.scss */
.figure.figure-right {
  float: none;
  margin: 0 0 1rem 0;
  width: 100%;
}
@media (min-width: 800px) {
  /* line 49, ../sass/screen.scss */
  .figure.figure-right {
    float: right;
    margin: 0 0 1rem 2rem;
    width: 45%;
  }
  /* line 59, ../sass/screen.scss */
  .figure.figure-right .figure-caption {
    text-align: left;
  }
}
/* line 65, ../sass/screen.scss */
.figure figcaption {
  float: right;
  font-size: 80%;
  color: gray;
  line-height: 2rem;
}

/* ---------- *\
	ACCORDION
\* ---------- */
/* line 83, ../sass/screen.scss */
.ac-handle {
  cursor: pointer;
}
/* line 87, ../sass/screen.scss */
.ac-handle .fa {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
}
/* line 92, ../sass/screen.scss */
.ac-handle.open {
  color: #446cb3;
}
/* line 95, ../sass/screen.scss */
.ac-handle.open .fa {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067812, M12=-0.7071067812, M21=0.7071067812, M22=0.7071067812)";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067812, M12=-0.7071067812, M21=0.7071067812, M22=0.7071067812);
}
/* line 100, ../sass/screen.scss */
.ac-handle.hover {
  color: #446cb3;
}

/* line 115, ../sass/screen.scss */
.demo {
  background-color: #EFEFEF;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0 1px 1px 0;
  padding: 1rem !important;
}

/* ---------- *\
	Demo for Palette Presentation
\* ---------- */
/* line 127, ../sass/screen.scss */
#palette .swatch {
  float: left;
  font-size: .9rem;
  margin: 1%;
  width: 31.3333%;
  text-transform: uppercase;
}
/* line 134, ../sass/screen.scss */
#palette .swatch:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px solid #e6e6e6;
  color: #FFFFFF;
  content: "Text";
  display: block;
  margin-bottom: .5rem;
  padding: 2rem .5rem .5rem;
  text-transform: none;
  width: 100%;
}
/* line 149, ../sass/screen.scss */
#palette .swatch.primary:before {
  background-color: #446CB3;
  border-color: #446CB3;
}
/* line 157, ../sass/screen.scss */
#palette .swatch.secondary:before {
  background-color: #3A539B;
  border-color: #3A539B;
}
/* line 165, ../sass/screen.scss */
#palette .swatch.success:before {
  background-color: #26A65B;
  border-color: #26A65B;
}
/* line 173, ../sass/screen.scss */
#palette .swatch.info:before {
  background-color: #6BB9F0;
  border-color: #6BB9F0;
}
/* line 181, ../sass/screen.scss */
#palette .swatch.warning:before {
  background-color: #F89406;
  border-color: #F89406;
}
/* line 189, ../sass/screen.scss */
#palette .swatch.danger:before {
  background-color: #D91E18;
  border-color: #D91E18;
}
/* line 197, ../sass/screen.scss */
#palette .swatch.yellow:before {
  background-color: #F4D03F;
  border-color: #F4D03F;
}
/* line 205, ../sass/screen.scss */
#palette .swatch.purple:before {
  background-color: #663399;
  border-color: #663399;
}
/* line 213, ../sass/screen.scss */
#palette .swatch.pink:before {
  background-color: #D2527F;
  border-color: #D2527F;
}
/* line 221, ../sass/screen.scss */
#palette .swatch.black:before {
  background-color: #000000;
  border-color: #000000;
}
/* line 229, ../sass/screen.scss */
#palette .swatch.greydk:before {
  background-color: #333333;
  border-color: #333333;
}
/* line 237, ../sass/screen.scss */
#palette .swatch.grey:before {
  background-color: gray;
  border-color: gray;
}
/* line 245, ../sass/screen.scss */
#palette .swatch.greylt:before {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

/* ---------- *\
	HIDE THAT SHIT
\* ---------- */
@media (min-width: 800px) {
  /* line 260, ../sass/screen.scss */
  .hidden-sm-down {
    display: none;
  }
}
@media (min-width: 1000px) {
  /* line 260, ../sass/screen.scss */
  .hidden-sm-down {
    display: block;
  }
}

@media (min-width: 1000px) {
  /* line 272, ../sass/screen.scss */
  .hidden-md-down {
    display: none;
  }
}
@media (min-width: 1400px) {
  /* line 272, ../sass/screen.scss */
  .hidden-md-down {
    display: block;
  }
}

@media (min-width: 800px) {
  /* line 284, ../sass/screen.scss */
  .hidden-lg-down {
    display: none;
  }
}
@media (min-width: 1000px) {
  /* line 284, ../sass/screen.scss */
  .hidden-lg-down {
    display: none;
  }
}
@media (min-width: 1400px) {
  /* line 284, ../sass/screen.scss */
  .hidden-lg-down {
    display: none;
  }
}
@media (max-width: 1400px) {
  /* line 284, ../sass/screen.scss */
  .hidden-lg-down {
    display: block;
  }
}
